@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 36px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

table
{
	font-family:'Arial Narrow','Nimbus Sans L',sans-serif;
	font-size:  110%;
	padding: 0; 
	margin: 0; 
	border-collapse: collapse; 
	border-color: #a9c6c9;
	border-width: 1px;
	color: black; 
	width: 100%;
	text-align: center;
}

@import "bootstrap-responsive";

/*
table
{
	font-family:'Arial Narrow','Nimbus Sans L',sans-serif;
	font-size:  100%;
	padding: 0; 
	margin: 0; 
	border-collapse: collapse; 
	border-color: #a9c6c9;
	border-width: 1px;
	color: #333; 
	background: #F3F5F7;
	width: 1024px;
	text-align: center;
}


html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: green;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
	border-top: 5px solid Green;
  color: Black;
  font-size: 125%;
  font-style: bold;
  display: block;
  width: 100%;
  border-bottom: 5px solid Green;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: Green;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}*/