body {
  font-family: sans-serif;
  font-weight: bold; }

#contents {
  width: 800px; }
  #contents #sidebar {
    float: right;
    width: 200px; }
  #contents #main {
    width: 600px;
    background: #eeeeee; }
    #contents #main h2 {
      color: blue; }

#footer {
  height: 200px; }